// GENERIC
@import "generic/_reset";
@import "generic/_normalize";

// GLOBAL
@import "global/_functions";
@import "global/_variables";

// ELEMENTS
@import "elements/_bg";
@import "elements/_buttons";
@import "elements/_forms";
@import "elements/_links";
@import "elements/_sections";
@import "elements/_separators";
@import "elements/_text";
@import "elements/_wrapper";

// SECTIONS
@import "sections/_footer";
@import "sections/_hero";
@import "sections/_popup";
@import "sections/_trending";


.icon {
  font-size: rem(20);
}

.left-side-icon {
  margin-right: 10px;
}

.right-side-icon {
  margin-left: 10px;
}

img.poster {
  display: block;
  width: 100%;
  border-radius: $border-radius-global;
}

ul {

  list-style: none;
  padding: 0;

  li:not(:first-child) {

    color: $grey;
    padding-bottom: 12px;

  }

}



/*:root {
  font-size: 20px;
}*/
