@use "../global/variables";

footer {
  text-align: center;
  color: variables.$grey;

  padding: variables.$large-inner-padding variables.$inner-padding;

  border-top: 1px solid variables.$light-grey;
  background-color: variables.$lightest-grey;
}
