@use "../global/variables";

footer {
  text-align: center;
  color: variables.$grey;

  padding: 40px 0;

  border-top: 1px solid variables.$light-grey;
  background-color: variables.$lightest-grey;
}
