@use "../global/variables";

.popup-container {
  position: absolute;
  z-index: 990;

  width: 100%;
  height: 100%;

  // If PopUp has a fixed position
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-bg-overlay {
  display: block;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: variables.$black;
  opacity: 0.7;
}

.popup {
  position: fixed; //relative
  z-index: 999;

  max-width: 800px;
  max-height: 100vh;
  margin: variables.$header-height auto;

  background-color: variables.$white;
  border-radius: variables.$border-radius-global;

  overflow: hidden;

  box-shadow: variables.$box-shadow-global;

  header {
    display: flex;
    justify-content: space-between;

    width: 100%;
    background-color: variables.$lightest-grey;

    padding: variables.$inner-padding;

    border-bottom: variables.$light-grey 1px solid;
    border-radius: variables.$border-radius-global variables.$border-radius-global 0 0;

    color: variables.$grey;

    .icon {
      color: variables.$light-grey;
    }

  }

  .flex-container {
    display: flex;
    padding: 30px 24px;
  }

  aside {
    width: 40%;
    max-width: 280px;
    margin-right: variables.$inner-padding;

    text-align: center;

    .poster {
      //box-shadow: variables.$box-shadow-global
    }
  }

  .popup-banner {
    position: relative;

    img {
      width: 100%;
      display: none;

      overflow: hidden;
    }

    .popup-banner-overlay {
      position: absolute;

      width: 100%;
      height: 110%;

      top: 0;

      background: variables.$white;
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0) 50%);

      backdrop-filter: blur(8px);
    }
  }

  .popup-text {
    flex: 1;
  }

  hgroup h1, p {
    margin: 0;
  }

  .tagline-score {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    h4 {
      margin-bottom: 0;
    }

    :first-child {
      margin-right: 15px;
    }
  }

  .people {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    grid-gap: 2%;

    padding-bottom: variables.$inner-padding;

    .full-row {
      grid-row: 1/-1;
    }

    .last-row {
      grid-column: -2 / -1;
    }

  }

}

.popup-container.small-screen {
  display: block;

  .popup {

    position: static;
    max-width: 100%;
    max-height: none;

    margin: 0;

    border-radius: 0;

    box-shadow: none;

  }

  .popup-bg-overlay {
    display: none;
  }
}

@media screen and (max-width: variables.$vw-tablet) {

  .popup {
    .people {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(6, auto);
    }
  }

}

@media screen and (max-width: variables.$vw-mobile) {

  .popup {
    .flex-container {
      padding: 0;
      flex-direction: column;
    }

    aside {
      max-width: none;
      width: 100%;

      h4 {
        padding: 0 variables.$inner-padding;
      }
    }

    .popup-banner img {
      display: block;
    }

    .popup-poster-banner {
      position: relative;
      margin-bottom: 60px;
    }

    .poster {
      position: absolute;

      width: 40%;

      top: variables.$inner-padding;
      left: 0;
      right: 0;
      margin-inline: auto;

      box-shadow: variables.$box-shadow-global
    }

    .popup-text {
      padding: 0 variables.$inner-padding variables.$inner-padding variables.$inner-padding;
    }

    .people {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
    }
  }

}

@media screen and (max-width: variables.$vw-small-mobile) {

  .popup {

    .people {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(6, auto);
    }

  }

}
