@use "../global/functions";
@use "../global/variables";

.movie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px 2%;

  margin-top: 30px;
}

.movie-item {

  //overflow: hidden;

  .poster-link {
    display: block;
    position: relative;

    margin-bottom: 12px;
  }

  .poster-overlay:hover {
    opacity: 0.25;
    transition: variables.$transition-global;
  }

  h4 {
    color: variables.$black;
    transition: variables.$transition-global;
  }

  h4:hover {
    color: variables.$green;
    transition: variables.$transition-global;
  }

  .year {
    font-weight: variables.$fw-regular;
    font-size: functions.rem(14);
    color: variables.$grey;
  }

}

img.poster {
  display: block;
  width: 100%;
  border-radius: variables.$border-radius-global;
}

.poster-overlay {
  position: absolute;
  top: 0;

  background-color: variables.$black;
  opacity: 0;

  border-radius: variables.$border-radius-global;

  width: 100%;
  height: 100%;

  transition: variables.$transition-global;
}

@media screen and (max-width: variables.$vw-tablet) {
  .movie-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: variables.$vw-mobile) {
  .movie-grid {
    grid-template-columns: 1fr 1fr;
  }
}
