// COLORS
$black: #1e1b24;
$transparent-black: rgba(30, 27, 36, 0.25);
$grey: #747c92;
$transparent-grey: rgba(116, 124, 146, 0.25);
$light-grey-active: #a4a4b6;
$light-grey: #cbcdd7;
$lighter-grey: #D6D8DF;
$lightest-grey-hover: #e0e0e8;
$lightest-grey: #F2F2F5;
$white: #ffffff;
$green-active: #0f7059;
$green-hover: #1b966b;
$green: #20A972;
$transparent-green: rgba(32, 169, 114, 0.25);
$yellow: #ffab10;
$red: #ff4365;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Palanquin:wght@400;700&display=swap');

$ff-headings: 'Open Sans', sans-serif;
$ff-regular: 'Palanquin', sans-serif;

$fw-regular: 400;
$fw-bold: 700;
$fw-extra-bold: 800;

// DIMENSIONS
$vw-small-mobile: 480px;
$vw-mobile: 576px;
$vw-tablet: 768px;
$vw-small-screen: 1024px;
$vw-large-screen: 1200px;

// OTHERS
$inner-padding: 20px;
$large-inner-padding: 40px;
$header-height: 80px;
$border-radius-global: 5px;
$wrapper: 1040px;
$popup-wrapper: 800px;

// TRANSITION
$transition-global: all 150ms ease-in-out !default;

// BOX SHADOW
$box-shadow-global: $transparent-black 0px 1px 5px;
