.separator::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 20px 0;
}

.light-bg .separator::after {
  background-color: $lighter-grey;
}

.dark-bg .separator::after {
  background-color: $grey;
  opacity: 0.5;
}

.green-separator::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin: 24px 0;
  background-color: $green;
  border-radius: $border-radius-global;
}