@use "../global/functions";
@use "../global/variables";

// LABELS
label {
  font-family: variables.$ff-headings;
  font-weight: variables.$fw-bold;
  font-size: functions.rem(16);
  text-transform: uppercase;

  display: block;
  margin: 0 0 functions.rem(16) functions.rem(12);
}

.range-label {
  display: flex;
  justify-content: space-between;

  span {
    font-family: variables.$ff-regular;
    font-weight: variables.$fw-bold;
    margin-right: functions.rem(12);
    transition: variables.$transition-global;
  }
}

// INPUT & SELECT
input,
select {
  font-family: variables.$ff-headings;
  font-weight: variables.$fw-regular;
  color: variables.$grey;

  background-color: transparent;
  border: 1px solid variables.$grey;
  border-radius: variables.$border-radius-global;

  width: 100%;
  height: functions.rem(60);
  padding: functions.rem(16);
}

input:focus, select:focus {
  border: 1px solid variables.$green;
  outline: none;
}

input:disabled, select:disabled {
  background-color: variables.$transparent-black;
  border: 1px solid variables.$transparent-grey;
}

// SELECT
select {
  -webkit-appearance: none;
  appearance: none;
}

.select-container {
  position: relative;
}

.select-container::after {
  position: absolute;
  content: "▼";
  color: variables.$green;
  font-size: 0.8rem;
  top: 37.5%;
  right: 7.5%;
  pointer-events: none
}

.select-container.disabled::after {
  color: variables.$transparent-green;
}

// RANGE
input[type="range"] {

  padding: 0;

}

// CHECKBOX
.checkbox-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

input[type=checkbox] {
  //background-color: transparent;
  width: 20px;

  margin-bottom: 0;

  +label {
    font-family: variables.$ff-regular;
    font-weight: variables.$fw-regular;
    text-transform: initial;
    color: variables.$grey;
    line-height: functions.rem(28);

    margin: 0 0 0 functions.rem(16);
  }
}