@use "../global/variables";

// LINKS
a {
  color: variables.$green;
  text-decoration: none;

  transition: variables.$transition-global;

  cursor: pointer;
}

a:hover {
  color: variables.$black;
  transition: variables.$transition-global;
}

a:active {
  color: variables.$green-active;
  transition: variables.$transition-global;
}

// CLICKABLE ELEMENTS
.clickable {
  cursor: pointer;
}

