@use "../global/variables";

.separator::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 20px 0;
}

.light-bg .separator::after {
  background-color: variables.$lighter-grey;
}

.dark-bg .separator::after {
  background-color: variables.$grey;
  opacity: 0.5;
}

.green-separator::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin: 24px 0;
  background-color: variables.$green;
  border-radius: variables.$border-radius-global;
}