@use "../global/functions";
@use "../global/variables";

// BODY
body {
  font-family: variables.$ff-regular;
  font-weight: variables.$fw-regular;
  font-size: functions.rem(16);
}

// HEADINGS
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: variables.$ff-headings;
  font-weight: variables.$fw-bold;
}

h1 {
  font-size: functions.rem(32);
  margin-bottom: functions.rem(16);
}

h4 {
  font-size: functions.rem(16);
}

hgroup {
  /*width: fit-content;*/
  //text-align: center;
  margin-bottom: 36px;
}

// PARAGRAPHS
p {
  color: variables.$grey;
  line-height: functions.rem(28);
}

// COLORED TEXTS
.green-txt {
  color: variables.$green;
}

.yellow-txt {
  color: variables.$yellow;
}

.red-txt {
  color: variables.$red;
}

// DEPENDING ON BACKGROUND COLORS
.dark-bg {
  h1, h2, h3, h4, h5, h6, label {
    color: variables.$white;
  }
}

.light-bg {
  h1, h2, h3, h4, h5, h6, label {
    color: variables.$black;
  }
}

// MEDIA
@media screen and (max-width: variables.$vw-mobile) {

  h1 {
    font-size: functions.rem(24);
    margin-bottom: functions.rem(12);
  }

}

